.kelly {
  height: 300px;
  width: auto;
  border-radius: 50%;
  box-shadow: 5px 10px 8px #888888;
  padding-top: 20px;
}
body{
  src: url(fonts/Karma-Bold.ttf);
  font-family: Karma-Bold;
  background-image: url("images/background.jpg");
  background-size: 100%; 
  background-image: fixed;
  width: 100%;
  height: auto;
}
.kellyBrand {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 2%;
}
h1, h2{
  display: block;
  align-content: center;
}
header {
  text-align: right;
  padding: 30px;
  background-image: "images/copper.jpg";
  color: black;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
  font-size: 25px;
}
.navKelly{
  float: left;
  padding-left: 20px;
}
.restNav{
  padding: 20px;
}

.indexPara{ 
  display: block;
}




@font-face {
src: url(fonts/Karma-Medium.ttf);
font-family: Karma-Medium;
}

#home, #about, #contact {
  src: url(fonts/Karma-Medium.ttf);
  font-family: Karma-Medium;
}
  /* a:link {
    color: black;
  } */
  a:visited {
    color: #BDCCC6;
  }
  a:hover {
    color: #10291c02;
  }
  a:active {
    color: #687F75;
  }


@font-face {
src: url(fonts/Karma-Bold.ttf);
font-family: Karma-Bold;
}

#form1 {
 text-align: center;
 border: 1px solid black;
 padding: 1px;
}

.link1 {
  text-align: center;
}
.songSmash{
  height: 400px;
  width: auto;
  border-radius: none;
}


@media only screen and (max-width: 600px) {
header{
  display: block;
  align-items: center;
  justify-content: center;
}

body {
  background-image: url("images/background.jpg");
  background-size: 100%; 
  background-image: fixed;
  width: 100%;
  height: auto;
}
}